/* VARIABLES */
:root{
  --main-body-background : #fafafa;
  --main-font-family : "Ibarra Real Nova", "Times New Roman", serif;
  --main-font-weight : 700;
  --main-text-color : #33323D;
  --main-text-hover : #5FB4A2;
  --main-font-size : 16px;
  --main-font-weight : $font-weight-regular;
  --main-line-height : 30px;
}

$font-family: "Public Sans", "Arail", sans-serif;
$font-weight-regular: 400;
$text-color-white: #fff;
$main-btn-bg-color: #203A4C;